﻿
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-10 text-center">
        <br/><br/><h3>Welcome to the Word Frequency count list ! If you wish to see the list, push the button</h3><br/>
        <a href="/Word/List" class="btn btn-success text-center ">Get List</a>
    </div>
</div>

