﻿@model IEnumerable<WordCounter.Tools.Model.Word>

@{
    ViewData["Title"] = "List";
}
<h3><i>Welcome to Word Frequency  List</i></h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
    <a href="List?dataRefresh=true" class="btn btn-danger">Refresh Cache Data</a>
